<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<!-- Log cho Account -->
		<target name="accountFile" xsi:type="File"
				fileName="logs/accounts/${date:format=yyyy-MM}/account-${shortdate}.log"
				layout=
"Thời gian: ${longdate}
Cấp độ: ${level}
Tên logger: ${logger}
Tài khoản: Account:${event-properties:AccountId}
Tài khoản con: ${event-properties:SubId}
Hành động: Action:${event-properties:Action}
Số tiền: Amount:${event-properties:Amount}
Trạng thái: Success:${event-properties:Success}
Ghi chú: ${message}
----------------------------------------------------------------------"/>

		<!-- Log cho SubAccount -->
		<target name="subAccoutFile" xsi:type="File"
				fileName="logs/sub_accounts/${date:format=yyyy-MM}/sub_account-${shortdate}.log"
				layout=
"Thời gian: ${longdate}
Cấp độ: ${level}
Tên logger: ${logger}
Tài khoản: Account:${event-properties:AccountId}
Tài khoản con: ${event-properties:SubId}
Hành động: Action:${event-properties:Action}
Số tiền: Amount:${event-properties:Amount}
Trạng thái: Success:${event-properties:Success}
Ghi chú: ${message}
----------------------------------------------------------------------"/>
		<!-- Log chung -->
		<target name="generalFile" xsi:type="File"
				fileName="logs/general/general-${shortdate}.log"
				layout=
"Thời gian: ${longdate}
Cấp độ: ${level}
Tên logger: ${logger}
Tài khoản: Account:${event-properties:AccountId}
Tài khoản con: ${event-properties:SubId}
Hành động: Action:${event-properties:Action}
Số tiền: Amount:${event-properties:Amount}
Trạng thái: Success:${event-properties:Success}
Ghi chú: ${message}
----------------------------------------------------------------------"/>
	</targets>

	<rules>
		<!--final="true" tức là log khớp rule này sẽ không tiếp tục xét các rule phía dưới.-->
		<logger name="AccountService.*" minlevel="Info" writeTo="accountFile" final="true"/> 
		<logger name="SubAccountService.*" minlevel="Info" writeTo="subAccoutFile" final="true"/>

		<!-- Quan trọng nhất: cái * phải để CUỐI -->
		<logger name="*" minlevel="Info" writeTo="generalFile" />
	</rules>

</nlog>
